.body {
    background-image: linear-gradient(#fad8e8, #F1489A);
    height: 100vh;
    }
.heading {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    @media screen and (min-width: 768px) and (max-width: 990px) {
        font-size: 40px;
    }
    @media screen and (min-width: 991px) {
        font-size: 55px;
    }
}
.calculator {
    background-color: $color-light;
    border: solid 4px $color-accent;
    border-radius: 10px;
    width: 240px;
    height: 360px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    @media screen and (min-width: 768px) and (max-width: 990px) {
        width: 480px;
        height: 680px;
    }
    @media screen and (min-width: 991px) {
        width: 480px;
        height: 680px;
    }

        &__display {
            position: relative;
            background-color: $color-white;
            width: 178px;
            height: 85px;
            border: solid 2px $color-accent;
            border-radius: 5px;
            margin-top: 25px;
            @media screen and (min-width: 768px){
                width: 356px;
                height: 120px;
            }
            &__text{
                position: absolute;
                bottom:5px;
                right: 4px;
                font-size: 26px;
                line-height: 85%;
                word-break: break-all;
                @media screen and (min-width: 768px){
                    font-size: 46px;
                }
            }
            
        }        

        &__pad {
            margin: 25px;

            & > * {
                background-color: $color-accent;
                color: $color-white;
                border-radius: 5px;
                width: 35px;
                height: 35px;
                margin: 4px;
                text-align: center;
                font-size: 23px;
                @media screen and (min-width: 768px) {
                    width: 75px;
                    height: 75px;
                    margin: 8px;
                }
            }
            &__equals {
                width: 74px;
                @media screen and (min-width: 768px) {
                    width: 158px;
                    height: 75px;
                    margin: 8px;
                }
            }
            &__cancel {
                width: 74px;
                @media screen and (min-width: 768px) {
                    width: 158px;
                    height: 75px;
                    margin: 8px;
                }
            }
        }
}
