.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    
    &__pad {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
