@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
* {
  font-family: "Titillium Web", sans-serif;
  color: #414361;
  font-size: 24px;
}

.body {
  background-image: linear-gradient(#fad8e8, #F1489A);
  height: 100vh;
}
.body__heading {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .body__heading {
    font-size: 40px;
  }
}
@media screen and (min-width: 991px) {
  .body__heading {
    font-size: 55px;
  }
}
.body__calculator {
  background-color: #D9F7FA;
  border: solid 4px #F1489A;
  border-radius: 10px;
  width: 240px;
  height: 360px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .body__calculator {
    width: 480px;
    height: 620px;
  }
}
@media screen and (min-width: 991px) {
  .body__calculator {
    width: 480px;
    height: 620px;
  }
}
.body__calculator__display {
  background-color: #F3F6F6;
  width: 178px;
  height: 60px;
  border: solid 2px #F1489A;
  border-radius: 5px;
  font-size: 32px;
  margin-top: 25px;
}
@media screen and (min-width: 768px) {
  .body__calculator__display {
    width: 356px;
    height: 120px;
  }
}
.body__calculator__pad {
  margin: 25px;
}
.body__calculator__pad__button {
  background-color: #F1489A;
  color: #F3F6F6;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  margin: 4px;
  text-align: center;
  font-size: 22px;
}
@media screen and (min-width: 768px) {
  .body__calculator__pad__button {
    width: 70px;
    height: 70px;
    margin: 8px;
  }
}

#positive-negative-button {
  font-size: 16px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.body__calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.body__calculator__pad {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}