@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap");
* {
  font-family: "Cairo", sans-serif;
  color: #414361;
  font-size: 24px;
}

.body {
  background-image: linear-gradient(#fad8e8, #F1489A);
  height: 100vh;
}

.heading {
  font-size: 30px;
  margin-top: 15vh;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .heading {
    font-size: 55px;
  }
}
@media screen and (min-width: 991px) {
  .heading {
    font-size: 72px;
  }
}

.calculator {
  background-color: #D9F7FA;
  border: solid 4px #F1489A;
  border-radius: 10px;
  width: 240px;
  height: 360px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 12vh auto 20vh auto;
}
@media screen and (min-width: 768px) {
  .calculator {
    width: 360px;
    height: 540px;
    margin: auto;
  }
}
.calculator__display {
  position: relative;
  background-color: #F3F6F6;
  width: 178px;
  height: 85px;
  border: solid 2px #F1489A;
  border-radius: 5px;
  margin-top: 25px;
}
@media screen and (min-width: 768px) {
  .calculator__display {
    width: 270px;
    height: 130px;
  }
}
.calculator__display__text {
  position: absolute;
  bottom: 10px;
  right: 4px;
  font-size: 26px;
  line-height: 85%;
  word-break: break-all;
}
@media screen and (min-width: 768px) {
  .calculator__display__text {
    font-size: 46px;
    bottom: 20px;
  }
}
.calculator__pad {
  margin: 25px;
}
.calculator__pad__button {
  background-color: #F1489A;
  color: #F3F6F6;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  margin: 4px;
  text-align: center;
  font-size: 20px;
  line-height: 0.8;
}
@media screen and (min-width: 768px) {
  .calculator__pad__button {
    width: 52.5px;
    height: 52.5px;
    margin: 6px;
    font-size: 34px;
  }
}
.calculator__pad__button--equals {
  width: 78px;
}
@media screen and (min-width: 768px) {
  .calculator__pad__button--equals {
    width: 115px;
    height: 52.5px;
    margin: 6px;
  }
}
.calculator__pad__button--cancel {
  width: 78px;
}
@media screen and (min-width: 768px) {
  .calculator__pad__button--cancel {
    width: 115px;
    height: 52.5px;
    margin: 6px;
  }
}
.calculator__pad__button:hover {
  background-color: #e60572;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12vh auto 20vh auto;
}
.calculator__pad {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}