@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
* {
  font-family: "Titillium Web", sans-serif;
  color: #414361;
  font-size: 24px;
}

.body {
  background-image: linear-gradient(#fad8e8, #F1489A);
  height: 100vh;
}

.heading {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .heading {
    font-size: 40px;
  }
}
@media screen and (min-width: 991px) {
  .heading {
    font-size: 55px;
  }
}

.calculator {
  background-color: #D9F7FA;
  border: solid 4px #F1489A;
  border-radius: 10px;
  width: 240px;
  height: 360px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .calculator {
    width: 480px;
    height: 680px;
  }
}
@media screen and (min-width: 991px) {
  .calculator {
    width: 480px;
    height: 680px;
  }
}
.calculator__display {
  position: relative;
  background-color: #F3F6F6;
  width: 178px;
  height: 85px;
  border: solid 2px #F1489A;
  border-radius: 5px;
  margin-top: 25px;
}
@media screen and (min-width: 768px) {
  .calculator__display {
    width: 356px;
    height: 120px;
  }
}
.calculator__display__text {
  position: absolute;
  bottom: 5px;
  right: 4px;
  font-size: 26px;
  line-height: 85%;
  word-break: break-all;
}
@media screen and (min-width: 768px) {
  .calculator__display__text {
    font-size: 46px;
  }
}
.calculator__pad {
  margin: 25px;
}
.calculator__pad > * {
  background-color: #F1489A;
  color: #F3F6F6;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  margin: 4px;
  text-align: center;
  font-size: 23px;
}
@media screen and (min-width: 768px) {
  .calculator__pad > * {
    width: 75px;
    height: 75px;
    margin: 8px;
  }
}
.calculator__pad__equals {
  width: 74px;
}
@media screen and (min-width: 768px) {
  .calculator__pad__equals {
    width: 158px;
    height: 75px;
    margin: 8px;
  }
}
.calculator__pad__cancel {
  width: 74px;
}
@media screen and (min-width: 768px) {
  .calculator__pad__cancel {
    width: 158px;
    height: 75px;
    margin: 8px;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.calculator__pad {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}